@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

/* hero section */

.hero__section{
    background: url(./images/heroSectionBackground.png);
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar__menu-container{
    display: flex;
   gap: 20px;
}

.hero__section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: calc(60vh - 60px);
}
.hero__section-logo{
    width: 200px;
}

.hero__section-title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.hero__section-input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 11px;
}

.input__container-location ,
 .input__container-search
 {

    padding:5px;
    border: none;
    outline: none;

}

.input__container-location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.input__container-search{
    width: 65%;

}

.navbar__menu-container .user__icon{
    height: 30px;
    width: 30x;
    display: flex;
     align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px 6px;
    display: none;
}

@media(max-width:600px) {


    .navbar__menu-container .user__icon{
        display: flex;
    }

        .navbar__menu-container .link{
            
            display: none;

        }

        .navbar{
            padding: 16px 12px;
        }

        .hero__section{
            min-height: 78vh;
        }

        .hero__section-input_container{
            flex-direction: column;
            width: 100%;
            background-color: transparent;
        }
        
.input__container-location ,
.input__container-search
{
   padding:15px;
   border: none;
   outline: none;
    width: 80%;
    border-radius: 12px;
}

            .hero__section-container{
                height: calc(78vh - 60px);
            }    

            .hero__section-title{
                font-size: 20px;
                width: 80%;
            }

}



        /* offers cards */

        .container{
            margin: 48px auto;
            width: 80%;
        }

        .we_offer{
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            align-items: center;
            justify-content: center;
        }

        .we_offer .card{
            border-radius: 10px;
            border: 1px solid #e0e0e0;
            overflow: hidden;
            transition: all .3s ease;
        }

        .we_offer .card img{
            height: 170px;
            width: 300px;
            object-fit: cover;
            object-position: center;
        }

        .we_offer .card h2{
            padding:0 10px;
            font-size: 22px;
            font-weight: 400;
        }

        .we_offer .card p{
            font-size: 14px;
            padding: 0 10px 10px 10px;
        }
        
        .we_offer .card:hover{
            scale: 1.04;
            cursor: pointer;
        }



        /* collection */

        .collections h1{
            font-weight: 600;

        }

        .collections .sub_heading_container{
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 16px;
        }

        .sub_heading_container span:nth-child(2){
            color: #ff707f;
            font-size: 13px;
        }

        .collections_card_container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;
            margin-top: 24px;
        }

        .collections_card_container .card{
            height: 300px;
            min-width: 240px;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            position: relative;
            color: #e0e0e0;
            font-weight: 300;
        }

        .card1{
                background: url(./images/collection1.jpg);
        }

        
        .card2{
            background: url(./images/collection2.jpg);
            }

            
        .card3{
            background: url(./images/collection3.jpg);
            }

            
        .card4{
            background: url(./images/collection4.jpg);
            }
          
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(0deg,rgba(0,0,0,.9)0% , rgba(0,0,0,.05)50%),rgba(0,0,0,.05)85%;
}            

